<html>
  <head>
    <style>
      body {
        overflow: hidden;
        background: black;
      }

      iframe {
        border: none;
        position: absolute;
        top: 0px;
        left: 0px;
      }
    </style>
  </head>
  <body>
    <iframe src="https://player.twitch.tv/?channel=mvdwfoundation&parent=mvdwf.bitwiseworkshop.nl" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
  </body>
  
</html>




